doctype html

mixin infobox(nb,type)
    .col-md-4
        .infobox
            h3= nb
            p= type

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        //- meta(name="description",content="")
        //- meta(name="author",content="")
        title OCDS static stats
        link(rel="stylesheet",href="css/bootstrap.min.css")
        link(rel="stylesheet",href="css/float-dark.css")
        link(rel="stylesheet",href="css/style.css")
    body
        .container-fluid
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .page-header
                        .row
                            h1 OCDS static stats
                            p #{s.From} #{startDate} #{s.to} #{endDate}
                    .row
                        .panel.panel-default
                            .panel-body
                                +infobox(procedures.total,s.procedures)
                                +infobox(lots.total,s.lots)
                        h3 #{s.ProceduresStatus}
                        .panel.panel-default
                            .panel-body
                                +infobox(procedures.active,s.active)
                                +infobox(procedures.complete,s.complete)
                                +infobox(procedures.incomplete,s.incomplete)
                        unless lots.number == 0 
                            h3 #{s.LotsStatus}
                            .panel.panel-default
                                .panel-body
                                    +infobox(lots.active,s.active)
                                    +infobox(lots.complete,s.complete)
                                    +infobox(lots.incomplete,s.incomplete)
                        h3 #{s.Parties}
                        .panel.panel-default
                            .panel-body
                                +infobox(nb_buyers,s.buyers)
                                +infobox(nb_suppliers,s.suppliers)
